*{
    margin: 0;
    padding: 0;
}
.global{
    width: 70%;
    margin: 20px auto auto auto;
}
table{
    width: 100%;
    padding: 20px 30px;
    background: #475059;
    border: none;
    border-radius: 5px;
}
.botao{
    width: 95%;
    padding: 10px;
    margin: 3px;
    /* mudar a cor dos botoes*/
    background: #ffffff;
    border: none;
    border-left: 3px solid;
    border-bottom: 3px solid;
    border-color: #ffffff;
    border-radius: 5px;
    font-size: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #475059;
}
.botao_nan{
    width: 95%;
    padding: 10px;
    margin: 3px;
    /* mudar a cor dos botoes de operacoes*/
    background: #e2e2e2;
    border: none;
    border-left: 3px solid;
    border-bottom: 3px solid;
    border-color: #e2e2e2;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #475059;
}
.botao_ig{
    width: 95%;
    padding: 10px;
    margin: 3px;
    /* mudar a cor do botao de igualdade */
    background: #fe9554;
    border: none;
    border-left: 3px solid;
    border-bottom: 3px solid;
    border-color: #fe9554;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            color: #475059;
}
.botao:hover{
    border: 1.5px solid;
    border-color: #475059;
    cursor: pointer;
    /* mudar a cor dos botoes ao passar o mouse por cima*/
    background: #f8f8f8;
}
.botao_nan:hover{
    border: 1.5px solid;
    border-color: #475059;
    cursor: pointer;
    /* mudar a cor dos botoes de operacoes ao passar o mouse por cima*/
    background: #c0c0c0;
}
.botao_ig:hover{
    border: 1.5px solid;
    border-color: #475059;
    cursor: pointer;
    /* mudar a cor do botao de igualdade ao passar o mouse por cima*/
    background: #ffa250;
}
.in_text{
    background: #afead8;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin: auto;
    margin-bottom: 5px;
    font-size: 20px;
    text-align: right;
    color: #000;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.in_text:hover{
    cursor: text;
}
aside{
    width: 14%;
    margin: auto 0px auto 5px;
    float: left;
    background: #e2e2e2;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
