*{
    margin: 0;
    padding: 0;
}
.global{
    max-width: 60%;
    margin: 20px auto auto auto;
}
table{
    width: 100%;
    margin: auto;
    background: rgb(255, 255, 255);
    border: 5px solid;
    border-color: rgb(55, 55, 55);
    border-radius: 5px;
}
input[type=button]{
    width: 100%;
    padding: 15px;
    margin: auto;
    font-size: 16px;
    background: #ffffff;
    border-color: rgb(55, 55, 55);
    border-radius: 5px;
}
input[type=button]:hover{
    background: #f8f8f8;
}
input[type=text]{
    width: 100%;
    padding: 10px;
    margin: auto;
    font-size: 20px;
    text-align: right;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

